<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947788747831-1v9is3983cmvjih49ceggji5ee9facmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947788747831-1v9is3983cmvjih49ceggji5ee9facmn</string>
	<key>API_KEY</key>
	<string>AIzaSyBSblEEx2nNbZTxE1iZa7f4pYf3p-UJ-nM</string>
	<key>GCM_SENDER_ID</key>
	<string>947788747831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theWallSocialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>the-wall-social-media-app</string>
	<key>STORAGE_BUCKET</key>
	<string>the-wall-social-media-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947788747831:ios:615c40b0e05530d11adbb2</string>
</dict>
</plist>